.block-data {
    background-color: rgb(214, 214, 214);
    border-radius: 15px;
    margin: 5px;
}

.data-box-g {
    height: 400px;
}

.data-box-h {
    height: 300px;
    overflow-y: auto;
}

.agenda {
    height: 75vh;
    overflow-y: auto;
    background-color: rgb(255, 252, 238);
}

.filtersetts {
    position: relative;
    top: -25px;
    left: 25px;
    transition: ease all 0.5s;
    width: 35px;
    height: 35px;
}

// .maqinariasign {
    
// }

.btnsetts {
    background-color: #444;
    cursor: pointer;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    transition: ease all 0.5s;
}

.btnsetts:hover{
    transition: ease all 0.5s;
    background-color: rgb(41, 84, 153);
    box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.6);
}

.tecnicos-agenda {
    background-color: rgba(201, 198, 161, 0.333);
}

.texttecnic {
    font-size: 9pt;
    color: rgb(69, 47, 24);
}

.tecnic-work {
    background-color: rgba(201, 198, 161, 0.386);
    transition: ease all 0.5s;
    font-size: 9pt;
}

.worker {
    width: 200px;
    border: dashed 1px gray;
}

// .tecnic-work:hover {
//     transition: ease all 0.5s;
//     transform: scale(1.1);
// }

.filter-section {
    width: 300px;
    background-color: rgba(245, 245, 245, 0.888);
    padding: 20px;
    position: absolute;
    cursor: move;
    bottom: 0px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    left: 0px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
              z-index: 10000000;
              border: groove 2px gray;
}

.filter-section:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.action {
    cursor: pointer;
    transition: ease all 0.5s;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    justify-content: center
}

.action:hover {
    transition: ease all 0.5s;
    background-color: gray;
    color: orange;
    border-radius: 100%;;
}


.etiqueta {

    padding: 5px;
    font-size: 9pt;

  }


.data-check {
    height: 400px;
    overflow: auto;
    border-bottom: dashed 1px gray;
}

.form-check {
    border-bottom: dashed 1px gray;
    margin-bottom: 10px;
    transition: ease all 0.5s;
    cursor: pointer;
}

.form-check:hover {
    transition: ease all 0.5s;
    background-color: rgb(226, 226, 226);
}

.label:hover {
    cursor: pointer;
}

.datamantenimiento {
    position: absolute;
    max-width: 600px;
    background-color: rgba(241, 241, 241, 0.889);
    margin-top: -50px;
    z-index: 1000;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.5);
    right: 25px;
    border: groove 2px gray;
}

