<div class="spinner-overlay" *ngIf="_show_spinner" >
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
</div>
<div class="module-workarea p-4 ">

    <div class="text-secondary d-flex align-item-center m-0 p-0">
         <mat-icon>{{modulo.icono}}</mat-icon>
         <span class="fs-5">{{modulo.nombre}}</span>
    </div>
    <hr>
    <div class="form-section">

        <form [formGroup]="agenciaForm" class="mb-2" (ngSubmit)="onSubmit()">
            <div class="mb-3   ">
                <label for="codcliente" class="form-label ">
                    <span class="text-primary" > Escoge el Cliente </span> <span class="text-danger">*</span>
                </label>
                <select class="inpForms form-select   w-100" (change)="validationCliente()"
                        formControlName="codcliente" #codcliente id="codcliente" 
                        aria-label="">
                        <option *ngFor="let cliente of listaClientes" [value]="cliente.codcliente" >
                            {{cliente.nombre | titlecase }} - {{ cliente.ruc }}                                
                        </option>
                </select>
            </div>
            <hr>
            <div  class="form-agency animate__animated animate__fadeInLeft " *ngIf="_show_form_agency"  >
                
                <div class="mb-3 col-6 ">
                    <label for="nombre" class="form-label   ">
                        Nombre de agencia <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" 
                           formControlName="nombre" #nombre id="nombre" placeholder="Agencia 1">
                </div>
                <div class="d-flex justify-content-between  flex-wrap" >
                    <div class="mb-3 col-5 ">
                        <label for="descripcion" class="form-label   ">
                            Descripción 
                        </label>
                        <input type="text" class="form-control" formControlName="descripcion" #descripcion id="descripcion" placeholder="">
                    </div>
                    <div class="mb-3 col-6 ">
                        <label for="observacion" class="form-label   ">
                            Observación 
                        </label>
                        <input type="text" class="form-control" formControlName="observacion" #observacion id="observacion" placeholder="">
                    </div>
                </div>
                <div class="d-flex justify-content-between  flex-wrap" >
                    <div class="mb-3 col-2 ">
                        <label for="longitud" class="form-label   ">
                            Longitud 
                        </label>
                        <input type="text" class="form-control" formControlName="longitud" #longitud id="longitud" placeholder="">
                    </div>
                    <div class="mb-3 col-2 ">
                        <label for="latitud" class="form-label   ">
                            Latitud 
                        </label>
                        <input type="text" class="form-control" formControlName="latitud" #latitud id="latitud" placeholder="">
                    </div>
                    <div class="mb-3 col-3  ">
                        <label for="codProv" class="form-label ">
                            Provincia: <span class="text-danger">*</span>
                        </label>
                        <select class="inpForms form-select   w-100"
                                formControlName="codProv" #codProv id="codProv"
                                (change)="getCantones()" aria-label="">
                                <option *ngFor="let tipo of provinciaLista" 
                                        [value]="tipo.codigo" >
                                        {{tipo.nombre | titlecase }}                                
                                </option>
                        </select>
                    </div>
                    <div class="mb-3 col-3  ">
                        <label for="codCanton">Cantón <span class="text-danger">*</span></label>
                        <select class="inpForms form-select   w-100"
                                formControlName="codCanton" #codCanton id="codCanton" aria-label="">
                                <option *ngFor="let canton of cantonLista" [value]="canton.codigo" >
                                    {{canton.nombre | titlecase }}                                
                                </option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 ">
                    <label for="campoB" class="form-label   ">
                        Dirección:  <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" 
                           formControlName="campoB" #campoB
                           id="campoB" placeholder="">
                </div>
                <div class="d-flex justify-content-between  flex-wrap" >
                <div class="mb-3 col-2 ">
                    <label for="tipo" class="form-label ">
                        Tipo de Agencia: <span class="text-danger">*</span>
                    </label>
                    <select class="inpForms form-select   w-100"
                            formControlName="tipo" #tipo id="tipo" 
                            aria-label="">
                            <option *ngFor="let tipo of tipoAgenciaLista" [value]="tipo.codigo" >
                                {{tipo.nombre | titlecase }}                                
                            </option>
                    </select>
                </div>
                <div class="mb-3 col-2  ">
                    <label for="codfrecuencia">Tipo de Frecuencia <span class="text-danger">*</span> </label>
                    <select class="inpForms form-select   w-100"
                            formControlName="codfrecuencia" #codfrecuencia id="codfrecuencia" aria-label="">
                            <option *ngFor="let frec of frecuenciaList" [value]="frec.codigo" >
                                {{frec.nombre | titlecase }}                                
                            </option>
                    </select>
                </div>
                <div class=" ha mb-3 col-2 ">
                    <label for="horarioatencion" class="form-label   ">
                        Horario de atención de la agencia: <br> <small class="text-secondary"> FORMATO: 24H - H:M</small>  <span class="text-danger">*</span>
                    </label>
                    <div class="d-flex flex-column">
                        <span class="text-primary" > <strong> Desde: </strong></span>                        
                        <div class="d-flex">
                            <span>
                                <strong> Horas </strong>
                                <div class="d-flex" >
                                    <input type="number" maxlength="23" minlength="0" (change)="validacionTiempo('H1')" (keyup)="validacionTiempo('H1')" class="form-control" formControlName="horarioatencion1" #horarioatencion1 id="horarioatencion1" placeholder="12">
                                    <span class="text-success p-2" > <strong> :  </strong></span>
                                </div>
                            </span>
                            <span>
                                <strong> Minutos </strong>
                                <input type="number" maxlength="59" minlength="0" (change)="validacionTiempo('H1')" (keyup)="validacionTiempo('H1')" class="form-control" formControlName="horarioatencion2" #horarioatencion2 id="horarioatencion2" placeholder="00">
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <span class="text-primary" > <strong> Hasta: </strong></span>
                        <div class="d-flex">
                            <span>
                                <strong> Horas </strong>
                                <div class="d-flex" >
                                    <input type="number" maxlength="23" minlength="0" (change)="validacionTiempo('H2')" (keyup)="validacionTiempo('H2')" class="form-control" formControlName="horarioatencion3" #horarioatencion3 id="horarioatencion3" placeholder="12">
                                    <span class="text-success p-2" > <strong> :  </strong></span>
                                </div>
                            </span>
                            <span>
                                <strong> Minutos </strong>
                                <input type="number" maxlength="59" minlength="0" (change)="validacionTiempo('H2')" (keyup)="validacionTiempo('H2')" class="form-control" formControlName="horarioatencion4" #horarioatencion4 id="horarioatencion4" placeholder="00">
                            </span>
                        </div>
                    </div>
                </div>
                <div class=" ha mb-3 col-2 ">
                    <label for="horarioatencion" class="form-label   ">
                        Horario de atención al mantenimiento:<br> <small class="text-secondary"> FORMATO: 24H - H:M</small>  <span class="text-danger">*</span>
                    </label>
                    <div class="d-flex flex-column" >
                        <span class="text-primary" ><strong>Desde:</strong></span>
                        <div class="d-flex">
                            <span>
                                <strong> Horas </strong>
                                <div class="d-flex" >
                                    <input type="number" maxlength="23" minlength="0" (change)="validacionTiempo('HM1')" (keyup)="validacionTiempo('HM1')" class="form-control" formControlName="horarioatencionM1" #horarioatencionM1 id="horarioatencionM1" placeholder="12">
                                    <span class="text-success p-2" > <strong> :  </strong></span>
                                </div>
                            </span>
                            <span>
                                <strong> Minutos </strong>
                                <input type="number" maxlength="59" minlength="0" (change)="validacionTiempo('HM1')" (keyup)="validacionTiempo('HM1')" class="form-control" formControlName="horarioatencionM2" #horarioatencionM2 id="horarioatencionM2" placeholder="00">
                            </span>
                        </div>
                    </div>
                    <div class="d-flex flex-column" >
                        <span class="text-primary" ><strong>Hasta:</strong></span>
                        <div class="d-flex">
                            <span>
                                <strong> Horas </strong>
                                <div class="d-flex" >
                                    <input type="number" maxlength="23" minlength="0" (change)="validacionTiempo('HM2')" (keyup)="validacionTiempo('HM2')" class="form-control" formControlName="horarioatencionM3" #horarioatencionM3 id="horarioatencionM3" placeholder="12">
                                    <span class="text-success p-2" > <strong> :  </strong></span>
                                </div>
                            </span>
                            <span>
                                <strong> Minutos </strong>
                                <input type="number" maxlength="59" minlength="0" (change)="validacionTiempo('HM2')" (keyup)="validacionTiempo('HM2')" class="form-control" formControlName="horarioatencionM4" #horarioatencionM4 id="horarioatencionM4" placeholder="00">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="bg-warning p-3 rounded-2 mb-3 col-2 ">
                    <label for="campoA" class="form-label   ">
                        Cantidad de máquinas: <span class="text-danger">*</span><br>
                        <small>Este campo quedará obsoleto en las siguientes versiones de CMS-System</small>
                    </label>
                    <input type="number" class="form-control" formControlName="campoA" #campoA id="campoA">
                </div>
                </div>
            </div>
            <div class="floating-button">

                <button mat-raised-button type="button" color="warn" *ngIf="_cancel_button" (click)="limpiar()" >
                    <mat-icon>cancel</mat-icon>
                </button>
                <button type="submit" mat-raised-button color="primary">
                    <mat-icon>{{_icon_button}}</mat-icon> {{_action_butto}} {{modulo.nombre}}
                </button>

            </div>
        </form>

    </div>

</div>

<div class="module-workarea p-4 mt-3 ">
    <div class="text-secondary d-flex align-item-center m-0 p-0">
         <mat-icon>{{modulo.icono}}</mat-icon><span class="fs-5" > {{modulo.nombre}} Registrados  </span>
    </div>
    <hr>
    <div class="table-responsive w-100">
        <section class="filtros  mb-2">
            <!-- <input type="text" class="form-control" > -->
            <small class="text-secondary">
                Cantidad de agencias registradas 
                <strong class="text-primary">
                   ( {{listaClientes.length}} )
                </strong>
            </small>
            <div class="mb-2 d-flex">
              <input class=" w-100 form-control rounded-pill"
                     fxFlex="auto" type="text"
                     (keyup)="applyFilter($event)" 
                     #input placeholder="Busqueda de agencias registradas....">
            </div>        
    
        </section>
        <table mat-table [dataSource]="dataSource" class="mtTable shadow" matSort class="w-100" >
    
            <ng-container matColumnDef="edit">
                
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  <span>
                    <mat-icon>
                      edit
                    </mat-icon>
                  </span>
                  <span *ngIf="_delete_show" >
                    <mat-icon>
                      delete
                    </mat-icon>
                  </span>
                </th>
                
                <td mat-cell *matCellDef="let row">
                  <span class="edit" (click)="catchData(row)">
                    <mat-icon>
                      edit
                    </mat-icon>
                  </span>
                  <span *ngIf="_delete_show" class="delete" 
                        (click)="eliminarAgencias(row)">
                    <mat-icon  >
                      delete
                    </mat-icon>
                  </span>
                </td>
    
              </ng-container>
    
            <ng-container matColumnDef="nombreCliente" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Nombre Cliente
                </th>
                <!-- [matTooltip]="" -->
                <td style="cursor: pointer;" mat-cell 
                    *matCellDef="let row" 
                    >
                  {{row.nombreCliente}}
                </td>
            </ng-container>
    
            <ng-container matColumnDef="nombre" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Nombre Agencia
                </th>
                <!-- [matTooltip]="" -->
                <td style="cursor: pointer;" mat-cell 
                    *matCellDef="let row" 
                    [matTooltip]="'Provincia: '+row.provincia + ' - Cantón: ' + row.canton + ' - Dirección: ' + row.campoB"
                    >
                  {{row.nombre}}
                </td>
            </ng-container>
    
            <ng-container matColumnDef="tipoAgencia" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Tipo Agencia
                </th>
                <!-- [matTooltip]="" -->
                <td style="cursor: pointer;" mat-cell 
                    *matCellDef="let row" 
                    >
                  {{row.tipoAgencia}}
                </td>
            </ng-container>
    
            <ng-container matColumnDef="C.Maq." >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    C. Maq.
                </th>
                <!-- [matTooltip]="" -->
                <td style="cursor: pointer;" mat-cell 
                    *matCellDef="let row" 
                    >
                  {{row.campoA}}
                </td>
            </ng-container>
    
            <ng-container matColumnDef="mantenimiento" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Frecuencia M.
                </th>
                <td style="cursor: pointer;" mat-cell 
                    *matCellDef="let row">
                  {{row.mantenimiento}}
                </td>
            </ng-container>
    
            <ng-container matColumnDef="horarioatenciond" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Horario de Atención Agencia.
                </th>
                <td style="cursor: pointer;" mat-cell 
                    *matCellDef="let row">
                    <span class="text-secondary" > Desde: </span><span style=" color: yellowgreen;  "> {{row.horarioatenciond}} </span> <span class="text-secondary"> Hasta: </span> <span class="text-warning" > {{row.horarioatencionh}} </span>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="horarioatenciondm" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Horario de Atención Mantenimiento.
                </th>
                <td style="cursor: pointer;" mat-cell 
                    *matCellDef="let row">
                    <span class="text-secondary" > Desde: </span> <span style=" color: yellowgreen;  "> {{row.horarioatenciondm}} </span> <span class="text-secondary"> Hasta: </span> <span class="text-warning"> {{row.horarioatencionhm}}</span>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="columnHead"></tr>
            <tr mat-row *matRowDef="let row; columns: columnHead;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                Datos no encontrados...
              </td>
            </tr>
        </table>
        <mat-paginator [length]="100"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       aria-label="Select page">
    </mat-paginator>    
    </div>
    </div>
    
