<div class="modal-container">
  <h2 class="modal-title"> Autenticación Requerida</h2>
  
  <p class="modal-text">
    Esta acción eliminará permanentemente el registro. 
    Por seguridad, ingrese su contraseña para confirmar.
  </p>
  

  <input type="password" [(ngModel)]="passwordIngresada" class="password-input" placeholder="Ingrese contraseña" />

  <p *ngIf="error" class="error-text">{{ error }}</p>

  <div class="button-container">
    <button mat-button color="warn" (click)="cerrarModal()" class="cancel-button">
      <mat-icon>cancel</mat-icon> Cancelar
    </button>
    <button mat-button color="primary" (click)="validar()" class="confirm-button">
      <mat-icon>check_circle</mat-icon> Confirmar
    </button>
  </div>
</div>
