<div class="spinner-overlay" *ngIf="_show_spinner" >
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
</div>

<div class="module-workarea p-4 "  >
    <div class="text-secondary d-flex align-item-center m-0 p-0">
         <mat-icon>{{modulo.icono}}</mat-icon><span class="fs-5">{{modulo.nombre}}</span>
    </div>
    <hr>

    <app-crono-grid *ngIf="_crono_grid"></app-crono-grid>
    <app-crononewdis *ngIf="_crono_new_dis"></app-crononewdis>

    <div class="form-section" *ngIf="_crono_calendar">
        <section class="w-100 mt-2 mb-2 d-flex justify-content-between align-items-center p-2 " >
            <form [formGroup]="agenciaForm" class="mb-2" (ngSubmit)="onSubmit()">
                <div class="">   
                    <label for="codcliente" class="form-label ">
                        <span class="text-primary" > Escoge el Cliente </span> <span class="text-danger">*</span>
                    </label>
                    <select class="inpForms form-select   w-100" (change)="existCli()"
                            formControlName="codcliente" #codcliente id="codcliente" 
                            aria-label="" >
                            <option *ngFor="let cliente of listaClientes" [value]="cliente.codcliente">
                                    {{cliente.nombre | titlecase }} - {{ cliente.ruc }}
                            </option>
                    </select>
                </div>
            </form>
            <span class="fs-2">
                <div class="d-flex align-items-start">
                    <small style="font-size: 9pt;"
                           class="text-secondary">
                           Año actual del cronograma:
                    </small>
                    <span class="text-primary">
                        <strong>
                            {{anioActual}}
                        </strong>
                    </span>
                </div>
                <div style="font-size: 9pt;" class="text-secondary" >
                    Faltan <span class="text-primary" > {{calcularDiasFinales}} </span>, días para terminar el año.
                </div>
            </span>
        </section>
        <section class="crono-header w-100 rounded-pill d-flex justify-content-between">
            <div class="btn-group" *ngFor="let mes of meses"  role="group" aria-label="Basic radio toggle button group">
                <input type="radio"
                       class="btn-check"
                       name="meses"
                       [disabled]="_dis_btn"
                       [id]="mes"
                       autocomplete="off">
                       <label [class]="_class_btn"
                              (click)="obtenerDias(mes);
                              cronograma(anioActual, mes)"
                              [for]="mes">
                              {{mes | titlecase}}
                       </label>
            </div>
        </section>
        <div *ngIf="diasPorSemana.length > 0" class="semana" >
            <div *ngFor="let semana of diasPorSemana" class="d-flex flex-wrap">
                <div class="semanabox">
                    <small class="text-light">
                        Semana {{ semana.numero }}:
                    </small>
                </div>
                <div class="dia p-2"
                     *ngFor="let dia of semana.dias"
                     data-bs-toggle="offcanvas"
                     data-bs-target="#offcanvasRight"
                     aria-controls="offcanvasRight"
                     (click)="obtenerAgencias(); obtenerUsuario(); obtenerData(semana,dia)"
                     [ngStyle]="{'background-color': dia.color}">
                     <div class="diadata">
                        {{ dia.dianombre }}, {{ dia.fecha }}
                     </div>
                     <div class="data-asign d-flex flex-column">
                        <div class=" asign d-flex justify-content-between">
                            <small class="text-secondary">Agencia:</small>
                            <span> {{dia.nombreAgencia}} </span>
                        </div>
                        <div class=" asign d-flex justify-content-between">
                            <small class="text-secondary"
                                   title="Máquinas ingresadas para dar mantenimiento">
                                   Maq. Mantenimiento:
                            </small>
                            <span>
                                {{dia.maquinasmanuales}}
                            </span>
                        </div>
                        <div class=" asign d-flex justify-content-between" title="Técnico encargado">
                            <small class="text-secondary">
                                Técnico:
                            </small>
                            <span> {{dia.nombreTecnico}} </span>
                        </div>
                        <div class=" asign d-flex justify-content-between" title="Técnico encargado">
                            <small class="text-secondary">
                                Frecuencia:
                            </small>
                            <span>{{dia.frecuencia}}</span>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" *ngIf="_crono_calendar" style="width: 600px;" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h3 class="text-secondary" id="offcanvasRightLabel">
          Establecer los datos para la asignación en la <br>
          <span>
            semana 
            <strong class="text-primary"> {{ semanainicial }} </strong>, con fecha: 
            <strong> {{fecha}} </strong>
          </span>
        </h3>
        <button type="button" class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close">
        </button>
    </div>
    <div class="offcanvas-body">
        <div class="bg-secondary rounded-2 text-light p-2">
            <strong> 1.- </strong>
            Escoge la agencia
        </div> 
        <div class="m-2 bg-dark rounded-pill p-2 text-light d-flex justify-content-between align-items-center"
             *ngIf="_agencia_es_bol">
            <small> Agencia escogida: </small>
            <span class="text-warning d-flex align-items-center">
                <span class="p-2"> 
                    <strong>
                        {{agencia_esc | uppercase}}
                    </strong> 
                </span>
                <span class="close d-flex text-dark p-2 rounded-pill" 
                      (click)="_agencia_es_bol = false;
                               _agencia_tabla = !_agencia_tabla">
                      <mat-icon>cancel</mat-icon>
                </span>
            </span>
        </div>

        <div class="table-responsive w-100" *ngIf="_agencia_tabla">
            <section class="filtros  mb-2 mt-2">
                <small class="text-secondary">
                    Cantidad de agencias registradas 
                    <strong class="text-primary">
                       ( {{listAgencias.length}} )
                    </strong>
                </small>
                <div class="mb-2 d-flex">
                    <input class=" w-100 form-control rounded-pill"
                           fxFlex="auto" type="text"
                           (keyup)="applyFilter($event)"
                           #input placeholder="Búsqueda de agencias registradas...">
                </div>    
            </section>

            <table mat-table [dataSource]="dataSource" class="mtTable shadow" matSort class="w-100" >
            
                <ng-container matColumnDef="nombreCliente" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Nombre Cliente
                    </th>
                    <td style="cursor: pointer;" mat-cell *matCellDef="let row">
                        <div class="p-2">{{row.nombreCliente}}</div>
                    </td>
                </ng-container>
            
                <ng-container matColumnDef="nombre" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Nombre Agencia
                    </th>
                    <td style="cursor: pointer;" mat-cell 
                        *matCellDef="let row" 
                        [matTooltip]="'Provincia: '+row.provincia + ' - Cantón: ' + row.canton + ' - Dirección: ' + row.campoB"
                        >
                      {{row.nombre}}
                    </td>
                </ng-container>
            
                <ng-container matColumnDef="mantenimiento" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Mantenimiento
                    </th>
                    <td style="cursor: pointer;" mat-cell 
                        *matCellDef="let row" 
                        >
                      {{row.mantenimiento}}
                    </td>
                </ng-container>
            
                <ng-container matColumnDef="cantidadMaquinaAgencia" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        C. Maq.
                    </th>
                    <td style="cursor: pointer;" mat-cell 
                        *matCellDef="let row" 
                        >
                      {{row.cantidadMaquinaAgencia}}
                    </td>
                </ng-container>
            
                <ng-container matColumnDef="action" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        
                    </th>
                    <td style="cursor: pointer;" mat-cell 
                        *matCellDef="let row" >
                        <button mat-mini-fab color="warn" 
                                class="d-flex align-items-center justify-content-center"
                                (click)="seleccionarAgencia(row)">
                            <mat-icon>done</mat-icon>
                        </button>
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="columnHead"></tr>
                <tr mat-row *matRowDef="let row; columns: columnHead;"></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">
                    Datos no encontrados...
                  </td>
                </tr>
            </table>

            <mat-paginator [length]="100"
                           [pageSize]="5"
                           [pageSizeOptions]="[5, 10, 25, 100]"
                           aria-label="Select page">
            </mat-paginator>

        </div>

        <hr>        

        <div class="bg-secondary rounded-2 text-light p-2">
            <strong> 2.- </strong> Escoge el técnico usuario
        </div>
        <div class="m-2 bg-dark rounded-pill p-2 text-light d-flex justify-content-between align-items-center"
             *ngIf="_tecnico_escogido">
            <small> Técnico escogido: </small>
            <span class="text-warning d-flex align-items-center">
                <span class="p-2"> 
                    <strong>
                        {{usuario_tecnico | uppercase}}
                    </strong> 
                </span>
                <span class="close d-flex text-dark p-2 rounded-pill" (click)="_tecnico_escogido = false; _tecnico_tabla = !_tecnico_tabla">
                    <mat-icon>cancel</mat-icon>
                </span>
            </span>
        </div>

        <div class="table-responsive w-100" *ngIf="_tecnico_tabla" >
            
            <section class="filtros  mb-2 mt-2">
                <small class="text-secondary">
                    Cantidad de técnicos registrados 
                    <strong class="text-primary">
                       ( {{listUsuarios.length}} )
                    </strong>
                </small>
                <div class="mb-2 d-flex">
                    <input class=" w-100 form-control rounded-pill"
                           fxFlex="auto" type="text"
                           (keyup)="applyFilterTecnico($event)"
                           #input
                           placeholder="Búsqueda de técnicos registrados...">
                </div>    
            </section>

            <table mat-table [dataSource]="dataSourceTecnicos" class="mtTable shadow" matSort class="w-100" >
            
                <ng-container matColumnDef="nombre" >   
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Nombre
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <div class="p-2">{{row.nombre}} {{row.apellido}}</div>
                    </td>
                </ng-container>
            
                <ng-container matColumnDef="nombreProvincia" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Provincia de nacimiento
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <div class="p-2">{{row.nombreProvincia}}</div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        
                    </th>
                    <td style="cursor: pointer;" mat-cell 
                        *matCellDef="let row" >
                        <button mat-mini-fab color="warn"
                                class="d-flex align-items-center
                                       justify-content-center"
                                (click)="seleccionarTecnico(row);">
                                <mat-icon>done</mat-icon>
                        </button>
                    </td>

                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="columnHeadTecnicos"></tr>
                <tr mat-row *matRowDef="let row; columns: columnHeadTecnicos;"></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">
                    Datos no encontrados...
                  </td>
                </tr>

            </table>

            <mat-paginator [length]="100"
                           [pageSize]="5"
                           [pageSizeOptions]="[5, 10, 25, 100]"
                           aria-label="Select page">
            </mat-paginator>  

        </div>

        <hr>

        <div class="bg-secondary rounded-2 text-light p-2">
            <strong> 3.- </strong> Número de máquinas
        </div>

        <div class="mt-2">
            <label for="numero_maquina" >Número de máquinas para mantenimiento:</label>
            <input type="number" name="" class="form-control"
                   [(ngModel)]="numero_maquina" id="numero_maquina">
        </div>

        <hr>

        <div class="bg-secondary rounded-2 text-light p-2">
            <strong> 4.- </strong> Escoger fecha mantenimiento estimada
        </div>
        <div class="mt-2">
            <label for="fecha_mantenimiento" >
                Fecha:
            </label>
            <input type="date" name=""
                   class="form-control"
                   [(ngModel)]="fecha_mantenimiento"
                   id="fecha_mantenimiento">
        </div>

        <hr>

        <div class="bg-secondary rounded-2 text-light p-2">
            <strong> 5.- </strong> Observación
        </div>
        <div class="mt-2">
            <label for="observacion">Breve observación de la asignación:</label>
            <textarea type="date" name="" rows="10"
                      class="form-control" [(ngModel)]="observacion"
                      id="observacion" placeholder="..." >
            </textarea>
        </div>

    </div>

    <div class="w-100 p-2">
        <button mat-raised-button color="warn" class="w-100" (click)="guardarCronograma()" >
            <mat-icon>done</mat-icon> Guardar asignación
        </button>
    </div>

</div>
