<div class="mini-module-workarea p-4 w-100" style="height: 550px !important;"> 

    <section class="head">

        <h3 class="d-flex text-secondary  "> <span> Asignar productos a <span class="text-primary" >{{nombreagencia}} <small> (agencia) </small> </span></span> &nbsp; / &nbsp;
            <small class="text-secondary ml-2" >cliente <span class="text-primary">{{nombrecliente}}</span> </small>
         </h3>

    </section>

    <hr style="border: solid 1px gray;" >

    <section class="d-flex justify-content-evenly " >  

        <div class="maquinasasign">

        </div>
        <div class="maquinasasign">

        </div>

    </section>

</div>