.maquinasasign{
    margin: 10px;
    width: 45%;
    border: solid 1px gray;
    padding: 10px;
    background-color: rgb(232, 231, 231);
    height: 380px;
    overflow-y: auto;
    border-radius: 5px;

}