<div class="spinner-overlay" *ngIf="_show_spinner" >
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
</div>
<div class="nav-side" [ngStyle]="{'width': _width_navside}" >

    <section class="headNavSide d-flex align-items-center p-2 ">
        <!-- Módulos del {{_tipo_persona}} -->
        <div class="imagen">
            <div class="imgTest rounded-2" [ngStyle]="{'background-image': 'url('+_IMGE+')'}" ></div>
        </div>

        <div class=" p-2 ">
            <div class="btnsplit d-flex align-items-center justify-content-center m-2 "
                 (click)="constrolNavside()" id="btnsplit" >
                <mat-icon>{{_icon}}</mat-icon>
            </div>
            <div class="text-light">
                <span *ngIf="_user" > 
                    Bienvenido <span class="text-warning" > {{_username}} </span>
                </span>
            </div>
            <div (click)="closeSession()"  *ngIf="_user"
                 class="cerrar btn btn-outline-warning d-flex mt-2 align-items-center">
                <mat-icon>close</mat-icon> Cerrar mi sesión
            </div>
        </div>
    </section>
    <mat-divider></mat-divider>
    <div class="bodynavSide mt-2 p-1">
        <div *ngFor="let modulos of modulosLista"
             class="nav w-100 mt-1 p-2"
             [matTooltip]="modulos.moduleName"
             matTooltipPosition="after"
             [ngStyle]="{'width': _width, 'border-right': 'solid 4px ' + modulos.color}" (click)="botonClick(modulos);">
            <span class=" module d-flex justify-content-start align-items-center"    >
                <mat-icon [ngStyle]="{'font-size': _fontSize}" >
                    {{modulos.icon}}
                </mat-icon>
                <span *ngIf="moduleName" >
                    {{modulos.moduleName}}             
                </span>
            </span>
        </div>
        <hr>
        <div  class="w-100 bg-dark text-light rounded-2 d-flex justify-content-center mt-2 p-2">
            Versión V.1.0.8 - BETA
        </div>
    </div>

</div>


