.imagen-container {

    width: 230px;
    height: 255px;
    background-color: gray;
    border-radius: 5px;
    border: solid 5px white;
    transition: ease all 1s;

}

.extraconfmaq {

    background-color: rgb(230, 230, 230);
    padding: 10px;
    border-radius: 10px;

}

.imagen-container:hover {
    transition: ease all 1s;
    background-color: rgb(59, 136, 110);
    cursor: pointer;
}


.modelomaquina {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: solid 1px gray;
    list-style: none;
    transition: ease all 2s;
}

.modelomaquina:hover {
    transition: ease all 0.5s;
    cursor: pointer;
    background-color: rgb(183, 223, 171);
    border-radius: 5px;
}

.modelomaquina.active1 {
    background-color: #95a3c7;
    color: white;
}